<div class="row pt-3 align-items-center">
  <div class="col-5 fz-1">
    <div class="d-flex align-items-center">
      <div
        style="
          background-image: url(assets/email.png);
          width: 14px;
          height: 14px;
        "
        class="bg-img me-1"
      ></div>
      <div>ashudot2099@gmail.com</div>
    </div>

    <div class="d-flex align-items-center">
      <div
        style="
          background-image: url(assets/phone.png);
          width: 14px;
          height: 14px;
        "
        class="bg-img me-1"
      ></div>
      <div>8692966188</div>
    </div>

    <div class="d-flex align-items-center">
      <div
        style="
          background-image: url(assets/website.png);
          width: 14px;
          height: 14px;
        "
        class="bg-img me-1"
      ></div>
      <div>https://ashu2099.github.io/</div>
    </div>
  </div>

  <div class="col-2">
    <div
      style="
        background-image: url(assets/ashuImg.jpg);
        width: 60pt;
        height: 60pt;
      "
      class="d-flex mx-auto rounded-circle bg-img ashu-img"
    ></div>
  </div>

  <div class="col-5 text-end fz-1">
    <div class="d-flex align-items-center justify-content-end">
      <div
        style="background-image: url(assets/pin.png); width: 14px; height: 14px"
        class="bg-img me-1"
      ></div>
      <div>B-205, Atharva Apartments,</div>
    </div>

    <div>Opposite Jai Mata Di Complex,</div>
    <div>Kasheli toll booth, Kasheli, 421302</div>
  </div>

  <div
    class="
      col-12
      text-center
      ashu-name
      my-2
      fw-500
      d-flex
      justify-content-center
    "
  >
    <div class="mx-1">Ashutosh</div>
    <div class="mx-1">Bhagwatprasad</div>
    <div class="mx-1">Dwivedi</div>
  </div>
</div>

<div class="col-12 d-flex bg-theme mb-2 separator-line"></div>
